/*****************************
    Resetting default styles
 *****************************/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Outfit:wght@400;500;600;800&display=swap');
/*****************************
    Base Styles
    (colors, fonts and such)
 *****************************/
body{
    background-color:#EAFFFE;
}

*{
    font-family: 'Outfit', sans-serif;
    color: #094A4F;
}

button{              /*Ha denne her?*/
    border:none;
    background: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

/*****************************
    Body Layout (Grid)
 *****************************/
body{
    display: grid;
    grid-template-rows: 2.5rem 10rem 1fr 30rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
            "top-color top-color top-color top-color"
            "header nav nav nav"
            "main main main main"
            "footer footer footer footer";
    min-height: 100vh;
}

#top-color{
    grid-area: top-color;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

/*****************************
    Body Layout (Grid)
 *****************************/

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
}


.header-container{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container{
    width:90%;
    border:1px solid yellow;
}

.button-container{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;

}
/*****************************
    ITEMS CONTAINER
 *****************************/

/*****************************
    INFORMATION CONTAINER
 *****************************/
#information-form{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
            "first-name last-name birth"
            "phone-number mail mail"
            "post-code adress country";
}


.form-cell{
    display: flex;
    flex-direction: column;
    padding: 0 2rem
}

#email-cell{
    grid-area: mail;
}

#birth-cell{
    display: flex;
    flex-direction: column;
}

#date-select-container{
    display: flex;
    justify-content: space-between;
}
#birth-cell select{
    height: 4rem;
    width:30%;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

/*****************************
    SHIPPING CONTAINER
 *****************************/

#shipping-container{
    background-color: white;
}

/*****************************
    BUTTON
 *****************************/
.coloured-square-btn{
    max-width: 30rem;
}
