body{
    background-color:  #EAFFFE
}
header{
    background-color:  #EAFFFE
}

/*****************************
    Main layout
 *****************************/

#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding:10rem 5rem;
}

#contact-us-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 60rem;
}

@media(max-width: 43.75em) {
    #contact-us-container{
        min-width: 40rem;
        width: 80%;
    }
}

@media(max-width: 31.25em){
    #main-container{
        padding: 10rem 2rem;
    }
    #contact-us-container{
        width: 100%;
        min-width: 20rem;
    }
}
