body{
    background-color: #58E8E6;
}

header{
    background-color: #58E8E6;
}
/*****************************
   HERO SECTION
 *****************************/

#hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70rem;

}

.hero-section-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-section-img{
    background: url("../img/hero-img-720-450.png") no-repeat left;
    background-blend-mode: overlay;
    background-size: auto;
}

.hero-section-container h2{
    font-size: 6rem;
    font-weight: bolder;
}

#hero-buttons-container{
    margin-top:3rem;
}

.hero-btn{
    background: white;
    border: white;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    font-weight: bold;
    margin:0 1rem;
}

.hero-btn:hover{
    background: rgba(255, 255, 255, 0.9);

}

#eye-catcher-btn{
    background: #FAB3C8;
    border: #FAB3C8;
}

#eye-catcher-btn:hover{
    background: #fac6d5;
    border: #fac6d5;
}

@media(max-width:56.25em){
    #hero-section{
        display: flex;
        flex-direction: column;
    }

    .hero-section-container{
        height:100%;
        background: url("../img/hero-img-720-450.png") no-repeat center, linear-gradient(rgba(88, 232, 230, 0.9), rgba(88, 232, 230, 0.9));
        background-blend-mode: overlay;

    }

    #hero-section-img{
        display: none;
    }
}

/*****************************
  TOP PICKS SECTION
 *****************************/

#top-picks-section{
    background-color: #DCFFFD;
    border:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10rem 10rem 10rem;
    min-height: 70vh;
    width: 100%;
}

.wrapper .slider{
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}

.wrapper{
    margin-top: 5rem;
    max-width: 100rem;
    position: relative;
}

.top-pick-card{
    display: inline-block;
    object-fit: cover;
    font-size: 1.6rem;
    width: calc(100%/3);

}

.slider img{
    width: 100%;
    height: 100%;
}

.slider .top-pick-card{
    object-fit: cover;
    margin-left: 1.5rem;
}

.slider .top-pick-card:first-child{
    margin-left: 0;
}

.top-picks-btn {
    position: absolute;
    top:50%;
    background-color: #FFFFFF;
    border: 0.1rem solid #094A4F;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
}

.btn-right{
    right:-2rem;
}

.btn-left{
    left: -2rem;
}

.top-picks-btn svg{
    height: 2.5rem;
    width: 2.5rem;
}

#top-picks-section h2{
    font-size: 3.5rem;
    text-align: center;
    margin: 4rem 0;
}

.top-pick-card-picture{
    position: relative;
}

.top-pick-card:hover .card-overlay{
    display: block;
    background: rgba(255, 255, 255, 0.4);
}

.card-overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 99%;
    background: rgba(0,0,0,0);
    transition: background 0.5s ease;

}

.add-to-cart-btn{
    position: absolute;
    left:25%;
    top: 45%;
    text-align: center;
    border:2px solid #094A4F;
    background-color: white;
    border-radius: 10rem;
    font-size: 2rem;
    width:50%;
    height: 10%;
    opacity: 0;
    transition: opacity .35s ease;

}

.top-pick-card-picture:hover .add-to-cart-btn{
    opacity: 1;
}

.top-pick-card-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.top-pick-card-text h3{
    font-size: 1.6rem;
    font-weight: 500;
}

.top-pick-card-price{
    font-size: 2.4rem;
}


@media(max-width: 75em){
    .wrapper{
        max-width: 70rem;
    }
    .top-pick-card{
        width: calc(100%/3);
    }
}

@media(max-width: 56.25em){
    .wrapper{
        max-width: 45rem;
    }
    .top-pick-card{
        width: calc(100%/2);
    }
}

@media(max-width: 37.5em){
    .wrapper{
        max-width: 30rem;
    }
    .top-pick-card{
        width: calc(100%/1);
    }
}



/*****************************
    TESTIMONIALS SECTION
 *****************************/

#testimonials-section{
    background-color: #5AE9E5;
    margin: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonials-section h2{
    font-size: 3.5rem;
    text-align: center;

}

#testimonial-header-decoration{
    border: 2px solid #DCFFFD;
    width: 20rem;
    margin-top: 3rem;
}


.testimonials-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.testimonial-card{
    background-color: #DCFFFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 32rem;
    height: 40rem;
    padding: 2rem;
    margin:0 2rem 6rem 2rem;
}

.quotation-mark{
    font-size: 5rem;
    text-align: center;
    padding: 0;
}

.testimonial-text{
    font-size:1.6rem;
    padding: 0 1rem;
    text-align: center;
}

.testimonial-img{
    border:0.1rem solid #094A4F;
    width:10rem;
    border-radius: 10rem;
    background-color:#DCFFFD ;
}

.testimonial-person-text{
    width: 10rem;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 0.5rem;
}

.testimonial-name{
    font-weight: 600;
}

/*****************************
   POPULAR CATEGORIES SECTION
 *****************************/

#popular-categories-sections{
    background-color: #DCFFFD;
    display: flex;
    flex-direction: row;
    padding: 8rem 0;
    width: 100%;
}

#popular-categories-header-container{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#popular-categories-sections h2{
    max-width: 30rem;
    font-size: 3.5rem;
    border-top: 0.35rem solid #094A4F;
    border-bottom: 0.35rem solid #094A4F;
    text-align: center;
}

#image-container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#large-img-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 2rem;
}

#large-img-container button{
    position: relative;
}

#popular-categories-sections button img{
    height: 100%;
    width: 100%;
}

#small-img-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 0 2rem;
}

#small-img-container button{
    position: relative;
}

.img-text{
    position: absolute;
    width: 90%;
    left: 5%;
    font-size: 2.8rem;
    background-color: rgba(255, 255, 255, 0.80);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;

}

.img-text-big{
    top:75%;
    height: 20%;
}

.img-text-small{
    height: 30%;
    top: 65%;
}

@media(max-width: 56.25em){
    #popular-categories-sections{
        padding: 6rem 0;
        flex-direction: column;

    }
    #popular-categories-header-container{
        width: 100%;
        margin-bottom: 8rem;
    }
    #image-container{
        width: 100%;
    }

    #small-img-container{
        height: 100%;
        align-items: center;
    }

    #small-img-container button:first-child{
        margin-bottom: 3rem;
    }

}

@media(max-width: 37.5em){
    #image-container{
        flex-direction: column;
    }

    #large-img-container{
        padding: 0 1rem;
    }

    #small-img-container{
        padding: 0 1rem;
    }

    #small-img-container img{
        max-width: 38.5rem;
        padding-top: 2rem;
    }
    #small-img-container button:first-child{
        margin-bottom: 0rem;
    }
}



