/*****************************
    Main Layout (Grid)
 *****************************/
#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding:10rem;
}

#reset-password-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 55rem;
}

@media(max-width:  56.25em){
    #main-container {
        padding:10rem 0;
    }
    #reset-password-container{
        width: 80%;
        min-width: 20rem;
    }

}