<nav th:fragment="nav">
    <ul>
      <li><a th:href="@{/products/dogs}">DOGS</a></li>
      <li><a th:href="@{/products/cats}">CATS</a></li>
      <li><a th:href="@{/products/smallpets}">SMALL PETS</a></li>
      <li><a th:href="@{/products/sale}">SALE</a></li>

      <th:block th:if="${user != null}">
      <li th:if="${user.isAdmin}"><a th:href="@{/admin}">ADMINISTRATION</a></li>
        <li><a th:href="@{/logout}">LOG OUT</a></li>

      </th:block>

      <li>
        <div class="searchBar">
          <form action="/products/search" method="get">
            <div class="searchContainer">
            <input id="searchQueryInput" type="text" name="searchQuery" placeholder="Search" value="" />
            <button id="searchQuerySubmit" type="submit">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
              </svg>
          </button>
            </div>
          </form>
        </div>
      </li>
      <li>
        <th:block th:if="${user == null}">
        <a th:href="@{/login}">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
          </svg>
        </button>
        </a>
        </th:block>


        <th:block th:if="${user != null}">
          <a th:href="@{/users/} + ${user.username}">
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" fill="#094A4F" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
          </button>
          </a>
        </th:block>
        <a th:href="@{/shoppingCart}">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
          </svg>
          <span th:text="${cartProducts}"></span>
        </button>
        </a>
      </li>

    </ul>
  </nav>