<div class="top-pick-card" th:each="product: ${products}">
    <a th:href="@{'/products/' + ${product.productId}}">
    <div class="top-pick-card-picture">
        <img th:src='${product.productPicture}' th:alt="${product.productPictureAlt}"
             onerror="this.onerror=null; this.src='../img/products/No-Image-Placeholder.png'"/>
        <div class="card-overlay"></div>
        <form th:action="@{/shoppingCart/addProduct/{id}(id=${product.productId})}" method="post">
            <input type="hidden" name="productId" th:value="${product.productId}" />
            <button class="add-to-cart-btn" type="submit">Add to cart</button>
        </form>
    </div>
    <div class="top-pick-card-text">
        <h3 id="Name" th:text="${product.productName}" class="top-pick-card-name"></h3>

        <div class="top-pick-card-price" id="Price" th:text="${product.productPrice} + ',-'">
        </div>
    </div>
        </a>
</div>