<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" th:href="@{/styles/about-us.css}">
    <link rel="stylesheet" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<header th:replace="components/newHeader :: header"></header>
<nav th:replace="components/newNav :: nav"></nav>
<main>
    <div id="about-container">
        <div class="about-us">
            <h2 class="about-title">About Us</h2>
            <p>
                We are Pet Plus, the premier online store for pet fashion and accessories.
                Our mission is to provide pet owners with the highest quality pet clothing and accessories
                to keep their furry friends looking and feeling their best.
                We believe that pets should be stylish and comfortable, and our products reflect that.
                Our selection includes a wide range of pet clothing and accessories, such as coats, sweaters,
                bandanas, and more. We are committed to delivering the best shopping experience to our customers.
                We take pride in our customer service and always strive to provide the highest level of satisfaction.
                We also offer free shipping on orders over 750 NOK,
                allowing you to stock up on pet fashion and accessories without breaking the bank.
                We want to help make your pet look and feel their absolute best.
                Shop with us today for the best selection of pet clothing and accessories.
            </p>
            <br>
            <br>
        </div>
        <div class="our-values">
            <h2 class="about-title">Our Values</h2>
            <p>
                At Pet Plus, we strive to bring our customers quality pet fashion and accessories that embody our three core values:
                style, comfort, and affordability. Our selection of pet clothing and accessories is designed to help your pet look
                and feel their best. We believe that style and comfort should go hand in hand,
                so we offer a range of stylish pieces that are also comfortable for your pet. And,
                we make sure our prices are affordable so that pet owners can shop for their furry friends without
                breaking the bank. Shop with us today for the best selection of pet clothing and accessories that offer style,
                comfort, and affordability.
            </p>
            <img src="../img/about-us-img400.png">
        </div>

    </div>
</main>
<footer th:replace="components/footer"></footer>
</body>
<script  th:src="@{/js/main.js}"></script>
<script th:src="@{/js/top-picks-slider.js}"></script>
</html>