<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" th:href="@{/styles/register.css}">
    <link rel="stylesheet" th:href="@{/styles/input-form-design.css}">
    <link rel="stylesheet" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" th:href="@{/styles/header.css}">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>
<main>
    <h1>Administration</h1>
    <br>
    <a th:href="@{/admin/orders}">
        <button class="white-outlined-btn-big">ALL ORDERS</button>
    </a>
    <br>
    <br>
    <div>
    <tbody>
        <tr th:each="product : ${products}">
            <b  th:text="'ID: ' +${product.productId}"></b>
            <td th:text="'Item: ' +${product.productName}"></td>
            <b th:text="'In Stock: ' +${product.getProductAmountInStock()}"></b>
            <br>
        </tr>
    </tbody>
    </div>
    <br>
    <p th:if="${errorMessage != null}" class="alert" th:text="${errorMessage}"></p>
    <form method="post" action="/admin/restock">
        <label for="product_id" class="input-label">Product ID:</label>
        <input type="number" min="1" name="product_id" id="product_id" required>

        <label for="quantity" class="input-label">Quantity:</label>
        <input type="number" min="1" name="quantity" id="quantity" required>
        <br>
        <br>
        <button class="white-outlined-btn-big" type="submit">RESTOCK</button>
    </form>

</main>
</body>
<footer th:replace="components/footer"></footer>
</html>