<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" th:href="@{/styles/input-form-design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/admin.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="PetPlus administrator page">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>
<main style="background-color: #EAFFFE;">
    <section id="admin-section">
        <h1>ADMINISTRATION PAGE</h1>
        <div id="table-container">
            <H2>RESTOCK PRODUCTS:</H2>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Item</th>
                    <th>In Stock</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="'' +${product.productId}"></td>
                    <td th:text="'' +${product.productName}"></td>
                    <td th:text="'' +${product.getProductAmountInStock()}"></td>
                </tr>
            </table>
            <p th:if="${errorMessage != null}" class="alert" th:text="${errorMessage}"></p>
            <form method="post" action="/admin/restock" id="restock">
                <div class="form-section">
                    <label for="product_id" class="admin-input-label">Product ID:</label>
                    <input type="number" min="1" name="product_id" id="product_id" class="admin-number-input"  required>
                </div>
                <div class="form-section">
                    <label  for="quantity" class="admin-input-label">Quantity:</label>
                    <input type="number" min="1" name="quantity" id="quantity" class="admin-number-input"  required>
                </div>
            </form>
        </div>
        <div id="admin-btn-container">
            <button class="white-outlined-btn-big" type="submit" form="restock">RESTOCK</button>
            <a th:href="@{/admin/orders}">
                <button class="white-outlined-btn-big">ALL ORDERS</button>
            </a>
        </div>
    </section>
</main>
<footer th:replace="components/footer"></footer>
</body>
<script  th:src="@{/js/main.js}"></script>
</html>