<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Checkout Successful</title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<nav th:insert="~{components/navigation}"></nav>
<main>
  <h1>Checkout Successful</h1>
  <p>Your order has been processed and will be shipped shortly. Thank you for shopping with us!</p>

  <a th:href="@{/}">Back to main page</a>
</main>
</body>
</html>