<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" th:href="@{/styles/contact-us.css}">
    <link rel="stylesheet" th:href="@{/styles/input-form-design.css}">
    <link rel="stylesheet" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" th:href="@{/styles/header.css}">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>
<main>
    <div id="main-container">
        <div id="contact-us-container">
            <h2>Contact Us</h2>
            <label for="email" class="input-label">E-mail:</label>
            <input type="text" id="email" class="text-input" name="email">
            <label for="category" class="input-label">Category:</label>
            <select name="category" id="category" class="select-item">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
            </select>
            <label for="message" class="input-label">Message:</label>
            <textarea id="message" class="text-area"></textarea>
            <label for="order-nmb" class="input-label">Order number</label>
            <input type="text" id="order-nmb" class="text-input" name="order-nmb">
            <p class="action-explanation">
                Click the button below to submit your question.<br>
                Any response will be received on the given email
            </p>
            <button class="white-outlined-btn-big">SUBMIT</button>
        </div>
    </div>
</main>
<footer th:replace="components/footer"></footer>
</body>
</html>