<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>404 - Product Not Found</title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<nav th:insert="~{components/navigation}"></nav>
<body>
  <h1>Error 404</h1>
  <p>Oops! We couldn't find that product page.</p>
  <p>Please check the URL and try again. If you think this is an error, please contact our customer support!</p>

</body>
</html>