<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FAQ</title>
  <link rel="stylesheet" th:href="@{/styles/faq.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/footer.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="PetPlus FAQ page">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>
<main>
  <section id="faq-section">
    <div class="faq-header">
      <h1>FAQ</h1>
    </div>

    <div id="faq-container">
      <div id="faq-categories">

        <button type="submit" class="faq-btn">
          <a th:href="@{/faq}">
          <div class="faq-svg">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
            </svg>
          </div>
          <div>ORDERS</div>
          </a>
        </button>
        <button class="faq-btn" >
          <a th:href="@{/faq/shipping}">
          <div class="faq-svg">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
            </svg>
          </div>
          <div>SHIPPING & DELIVERY</div>
          </a>
        </button>
        <button class="faq-btn" style="border-bottom: 4px solid #094A4F ; padding: 0.8rem;">
          <a th:href="@{/faq/return}">
          <div class="faq-svg">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
          </div>
          <div>RETURNS & REFUNDS</div>
          </a>
        </button>
      </div>
      <ul id="faq-list">
        <li>
            <h2>HOW CAN I REFUND?</h2>
          <div class="faq-answers">
            <p>
              Please go to the Contact Us section and email us then we'll get in touch and refund your order!
            </p>
          </div>
        </li>

        <li>
          <h2>DO I HAVE TO PAY SHIPPING TO RETURN MY ORDER?</h2>
          <div class="faq-answers">
            <p>
              No, it is free to return your order. We'll send you a shipping label by email which you can print and use on your package.
            </p>
          </div>
        </li>

      </ul>
    </div>
  </section>
</main>
<footer th:replace="components/footer"></footer>
</body>
<script  th:src="@{/js/main.js}"></script>
</html>