<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>PetPlus shop</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<nav th:insert="~{components/navigation}"></nav>
<main>
    <h1>Welcome!</h1>
    <p>Welcome to our store!</p>
    <section>

    </section>
    <p th:if="${user != null}">You can try to access a <a th:href="@{/users/} + 'john'">profile page
        of another user</a>.
        It will fail.</p>
</main>
</body>
</html>
