<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PetPlus shop</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<header th:replace="components/newHeader :: header"></header>
<nav th:replace="components/newNav :: nav"></nav>
<main>
    <section id="hero-section">
        <div class="hero-section-container">
            <h2>Treat Your<br>Pet Today!</h2>
            <div id="hero-buttons-container">
                <a th:href="@{/products}">
                    <button class="hero-btn" id="eye-catcher-btn">SHOP</button>
                </a>
                <a th:href="@{/about}">
                    <button class="hero-btn" type="button">ABOUT US</button>
                </a>
        </div>
        </div>
        <div class="hero-section-container" id="hero-section-img"></div>
    </section>



    <section id="top-picks-section">
        <h2>TOP PICKS</h2>
        <div class="wrapper">
            <button div class="top-picks-btn btn-left" id="btn-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                </svg>
            </button>
            <div class="slider">
                <div class="top-pick-card" th:replace="components/product-listing"></div>
            </div>
                <button div class="top-picks-btn btn-right" id="btn-right">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>
                </button>
        </div>
    </section>
    <section id="testimonials-section">
        <h2>TESTIMONIALS</h2>
        <div class="testimonials-container">
            <div class="testimonial-card">
                <div class="quotation-mark">
                    "
                </div>
                <div class="testimonial-text">
                    <p>
                        "Pet Plus is my go-to store for dog outfits. They have an amazing selection, and the clothes are comfortable and durable. My pup's birthday wouldn't be complete without their fantastic costumes. Thank you, Pet Plus, for making my fur baby feel like a superstar!"
                    </p>
                </div>
                <div class="testimonial-person">
                    <div class="testimonial-img">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                        </svg>
                    </div>
                    <div class="testimonial-person-text">
                        <div class="testimonial-name">Michael Roberts</div>
                        <div class="testimonial-age">35</div>
                    </div>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="quotation-mark">
                    "
                </div>
                <div class="testimonial-text">
                    <p>
                        "My pup's birthday is coming up and I found the perfect costume at Pet Plus. Their prices are reasonable, and the items are made with great care. Thanks for making my pup's birthday extra special!"
                    </p>
                </div>
                <div class="testimonial-person">
                    <div class="testimonial-img">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                        </svg>
                    </div>
                    <div class="testimonial-person-text">
                        <div class="testimonial-name">John Snow</div>
                        <div class="testimonial-age">30</div>
                    </div>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="quotation-mark">
                    "
                </div>
                <div class="testimonial-text">
                    <p>
                        "I'm so glad I discovered Pet Plus! The cat clothing range is fantastic, and the prices are affordable. My feline friend now struts around in style, thanks to the cute outfits I found here. Pet Plus is a must-visit for all pet owners!"
                    </p>
                </div>
                <div class="testimonial-person">
                    <div class="testimonial-img">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                        </svg>
                    </div>
                    <div class="testimonial-person-text">
                        <div class="testimonial-name">Lisa Turner</div>
                        <div class="testimonial-age">33</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="popular-categories-sections">
        <div id="popular-categories-header-container">
            <h2>POPULAR CATEGORIES</h2>
        </div>
        <div id="large-img-container">
            <form action="/products/search" method="get">
                <input hidden id="searchQueryInput" type="text" name="searchQuery" placeholder="Search" value="dog beds" />
                <button type="submit">
                    <img src="../img/dog-bed.jpg">
                    <div class="img-text">DOG BEDS</div>
                </button>
            </form>
        </div>
        <div id="small-img-container">
            <form action="/products/search" method="get">
                <input hidden id="searchQueryInput" type="text" name="searchQuery" placeholder="Search" value="dog treats" />
                <button type="submit">
                    <img src="../img/dog-treats.jpg"/>
                    <div class="img-text">DOG TREATS</div>
                </button>
            </form>
            <form action="/products/search" method="get">
                <input hidden id="searchQueryInput" type="text" name="searchQuery" placeholder="Search" value="cat toys" />
                <button type="submit">
                    <img src="../img/cat-toys.jpg"/>
                    <div class="img-text">CAT TOYS</div>
                </button>
        </div>
    </section>
</main>
<footer th:replace="components/footer"></footer>
</body>
<script  th:src="@{/js/main.js}"></script>
<script th:src="@{/js/top-picks-slider.js}"></script>
</html>
