<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>404 - Product Not Found</title>
  <link rel="stylesheet" th:href="@{/styles/index.css}">
  <link rel="stylesheet" th:href="@{/styles/footer.css}">
  <link rel="stylesheet" th:href="@{/styles/header.css}">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>
<main>
<h1>Error 404</h1>
<p>Oops! We couldn't find that product page.</p>
<p>Please check the URL and try again. If you think this is an error, please contact our customer support!</p>
<a th:href="@{/}">Back to main page</a>
</main>
</body>
<footer th:replace="components/footer"></footer>
</html>