<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>404 - Product Not Found</title>
  <link rel="stylesheet" th:href="@{/styles/register.css}">
  <link rel="stylesheet" th:href="@{/styles/footer.css}">
  <link rel="stylesheet" th:href="@{/styles/header.css}">
  <link rel="stylesheet" th:href="@{/styles/input-form-design.css}">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>
<main>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <br>
      <h1>Error 404</h1>
      <br>
      <h2>Oops! We couldn't find that product page.</h2>
      <br>
      <h3>Please check the URL and try again. If you think this is an error, please contact our customer support!</h3>
      <br>

        <a th:href="@{/}">
        <button class="white-outlined-btn-big">BACK TO SAFETY</button>
        </a>

      <br>
    </div>

</main>
</body>
<footer th:replace="components/footer"></footer>
</html>