<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Payment ERROR</title>
  <link rel="stylesheet" th:href="@{/styles/index.css}">
  <link rel="stylesheet" th:href="@{/styles/footer.css}">
  <link rel="stylesheet" th:href="@{/styles/header.css}">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>
<main>
<nav id="navigation" th:insert="~{components/navigation}"></nav>
<h1>Order Processing Error</h1>
<p>There was an error processing your order.</p>
<p>Error message: <span th:text="${outOfStockMessage}"></span>
  <span th:text="${paymentFailedMessage}"></span>
</p>
</main>
</body>
<footer th:replace="components/footer"></footer>
</html>