<!DOCTYPE html>
<html lang="en">
<head>
  <title>Payment Success</title>
  <link rel="stylesheet" th:href="@{/styles/register.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/footer.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>
  <main>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <br>
      <h1>Payment Successful</h1>
      <br>
      <h2>Your payment has been processed successfully. Thank you for your order!</h2>
      <br>
      <h3>Order ID: <span th:text="${orderId}"></span></h3>
      <br>
      <h3>Total Cost: <span th:text="${totalCost}"></span></h3>
      <br>
    </div>
  </main>
<footer th:replace="components/footer"></footer>
</body>
<script  th:src="@{/js/main.js}"></script>
</html>