<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Payment ERROR</title>
  <link rel="stylesheet" th:href="@{/styles/register.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/footer.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/userfeedback.css}">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="PetPlus payment error page">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>
<main style="background-color: #EAFFFE;">
  <div id="feedback-container">
    <h1>Order Processing Error</h1>
    <h2>There was an error processing your order.</h2>
    <h3>Error message: <span th:text="${outOfStockMessage}"></span>
      <span th:text="${paymentFailedMessage}"></span>
    </h3>
  </div>
</main>
<footer th:replace="components/footer"></footer>
</body>
<script  th:src="@{/js/main.js}"></script>
</html>