<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <title>Payment Page</title>
  <link rel="stylesheet" th:href="@{/styles/register.css}">
  <link rel="stylesheet" th:href="@{/styles/input-form-design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>
<main>
  <br>
  <form action="/shoppingCart/payment" method="post" style="display: flex; justify-content: center;">
  <div id="register-container">
      <h1>Payment Page</h1>
      <input type="hidden" name="orderId" value="${order.orderId}">

      <label for="cardNumber" class="input-label">Card Number:</label>
      <input type="text" name="cardNumber" id="cardNumber" class="text-input"required>

      <label for="expiryDate" class="input-label">Expiry Date:</label>
      <input type="text" name="expiryDate" id="expiryDate" class="text-input" required>


      <label for="cvv" class="input-label">CVV:</label>
      <input type="text" name="cvv" id="cvv" class="text-input" required>

    <br>

    <input type="submit" class="white-outlined-btn-big" value="Pay">
  </div>

    </form>




  </main>
<footer th:replace="components/footer"></footer>
</body>
<script  th:src="@{/js/main.js}"></script>
<script th:src="@{/js/top-picks-slider.js}"></script>
</html>