<!DOCTYPE html>
<html>
<head>
  <title>Payment Success</title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
  <link rel="stylesheet" th:href="@{/styles/index.css}">
  <link rel="stylesheet" th:href="@{/styles/footer.css}">
  <link rel="stylesheet" th:href="@{/styles/header.css}">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>
<main>
<body>
  <main>
    <h1>Payment Successful</h1>
    <p>Your payment has been processed successfully. Thank you for your order!</p>
    <p>Order ID: <span th:text="${orderId}"></span></p>
    <p>Total Cost: <span th:text="${totalCost}"></span></p>
  </main>
</main>
</body>
<footer th:replace="components/footer"></footer>
</html>