
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title th:text="${product.productName}"> </title>
        <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<nav th:insert="~{components/navigation}"></nav>
<main>


        <td>
                <ul>
                        <!-- Shows the product image, name and price -->
                        <li>
                                <img th:src="@{../img/products/{id}.png(id=${product.productId})}"
                                 onerror="this.onerror=null; this.src='img/products/No-Image-Placeholder.png'"/>
                        </li>
                        <li>
                                <p id="Name" th:text="${product.productName}"></p>
                        </li>
                        <li>
                                <p id="Price" th:text="${product.productPrice} + ',-'"></p>
                        </li>
                        <li>
                                <div>
                                        <a th:href="@{/shoppingCart/addProduct/{id}(id=${product.productId})}">
                                                <button type="button" class="" th:text="Buy">Buy</button>
                                        </a>
                                </div>

                        </li>

                </ul>

                <span th:each="productCategory,iterStat : ${product.productCategory}">
                <span th:text="${productCategory.name}"/><th:block th:if="${!iterStat.last}">,</th:block>
                </span>

        </td>

</main>
</html>

