
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title th:text="${product.productName}"> </title>
        <link rel="stylesheet" th:href="@{/styles/product-page.css}">
        <link rel="stylesheet" th:href="@{/styles/footer.css}">
        <link rel="stylesheet" th:href="@{/styles/header.css}">
        <link rel="stylesheet" th:href="@{/styles/input-form-design-v2.css}">
</head>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>



<main>
        <div id="main-container">
                <div id="product-container">
                        <div id="product-image">
                                <img th:src='${product.productPicture}'
                                     onerror="this.onerror=null; this.src='../img/products/No-Image-Placeholder.png'"/>
                        </div>
                        <div id="product-information">
                                <h2 id="Name" th:text="${product.productName}"></h2>
                                <h3 id="Price" th:text="${product.productPrice} + ',-'"></h3>
                                <h4>Product description</h4>
                                <p class="product-description" id="Description" th:text="${product.productDescription}"></p>
                                <form th:action="@{/shoppingCart/addProduct/{id}(id=${product.productId})}" method="post">

<!--                                        <select class="select-item">
                                                <option value="" disabled selected>CHOOSE SIZE</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                        </select>
                                        <input type="number" class="number-input" name="amount" value="1" min="1" />
-->

                                        <!-- With no logic for it currently on the backend, I'll just comment this out and it could be implemented in the future-->


                                        <input type="hidden" name="productId" th:value="${product.productId}" />
                                        <button type="submit" class="coloured-square-btn">ADD TO CART</button>
                                </form>
                        </div>
                </div>
        </div>
</main>
<footer th:replace="components/footer"></footer>
</html>


