<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/styles/index.css}">
    <link rel="stylesheet" th:href="@{/styles/input-form-design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">

    <style>
        #products-container {
            margin: 4rem 0;
            padding-bottom: 10rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-flow: row wrap;
            gap: 1em 1em;
        }
    </style>
</head>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>

<main>
    <section id="top-picks-section">
        <div class="wrapper">
        <div id="products-container" class="slider">
            <div th:if="${products.isEmpty()}">
                <H2>Oops, this is empty.</H2>
                <br>
                <H1>We might not have this in stock.</H1>
                <br>
                <h1>Please check back later.</h1>
                <br>
                <a th:href="@{/}">
                    <button class="white-outlined-btn-big">BACK TO SAFETY</button>
                </a>
                <br>
            </div>
            <div class="top-pick-card" th:replace="components/product-listing"></div>
        </div>
        </div>
        </div>
    </section>
</main>

<footer th:replace="components/footer"></footer>
</html>