<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>

    <link rel="stylesheet" th:href="@{/styles/input-form-design-v3.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/products.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="PetPlus Products list">

</head>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>
<body>
<main style="background-color: #EAFFFE;">

    <section id="products">
        <h2>PRODUCTS</h2>
        <div class="products-container">
            <div th:if="${products.isEmpty()}" >
                <H2>Oops, this page is empty.</H2>
                <H3>We might not have this in stock.</H3>
                <br>
                <h3>Please check back later.</h3>
                <br>
                <a th:href="@{/}">
                    <button class="white-outlined-btn-big" >BACK TO SAFETY</button>
                </a>
                <br>
            </div>
            <div class="top-pick-card" th:replace="components/product-listing"></div>
        </div>
    </section>


</main>
<footer th:replace="components/footer"></footer>
</body>
<script  th:src="@{/js/main.js}"></script>
</html>