<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/styles/index.css}">
    <link rel="stylesheet" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" th:href="@{/styles/header.css}">
</head>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>

<main>
    <section id="top-picks-section">
        <div id="products-container">
            <div id="products-card" class="products-card" th:replace="components/product-listing"></div>
        </div>
        </div>
    </section>
</main>

<footer th:replace="components/footer"></footer>
</html>