<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" th:href="@{/styles/reset-password.css}">
    <link rel="stylesheet" th:href="@{/styles/input-form-design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="PetPlus reset password page">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>
<main>
    <div id="main-container">
      <div id="reset-password-container">
          <h2>Reset your password</h2>
          <label for="username" class="input-label">E-mail:</label>
          <input type="text" id="username" class="text-input" name="username">
          <p class="action-explanation">
              Enter yor email address above and you will<br>
              receive a link to reset your password.
          </p>
          <button class="white-outlined-btn-big">SUBMIT</button>
      </div>
    </div>
</main>
<footer th:replace="components/footer"></footer>
</body>
<script  th:src="@{/js/main.js}"></script>
</html>