<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up successful!</title>
    <link rel="stylesheet" th:href="@{/styles/register.css}">
    <link rel="stylesheet" th:href="@{/styles/input-form-design.css}">
    <link rel="stylesheet" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" th:href="@{/styles/header.css}">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>

<main>
    <h1>Sign up successful!</h1>
    <p>The account has been created successfully. Go <a th:href="@{/}">Back to main page</a>.</p>
</main>

</body>
<footer th:replace="components/footer"></footer>
</html>