<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up successful!</title>
    <link rel="stylesheet" th:href="@{/styles/register.css}">
    <link rel="stylesheet" th:href="@{/styles/input-form-design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/userfeedback.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="PetPlus sign up success page">
</head>
<body>
<header th:replace="components/header"></header>
<nav th:replace="components/navigation"></nav>

<main>
    <div id="feedback-container">
        <h1>Sign up successful!</h1>
        <p>The account has been created successfully.</p>
        <a th:href="@{/login}">
            <button class="white-outlined-btn-big" >BACK TO LOGIN PAGE</button>
        </a>
        <br>
    </div>
</main>
<footer th:replace="components/footer"></footer>
</body>
<script  th:src="@{/js/main.js}"></script>
</html>