<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<nav th:insert="~{components/navigation}"></nav>
<main>
    <form action="" method="post" class="bio">
        <h1 th:text="'Welcome, ' + ${user.username}"></h1>
        <br>
        <a th:href="@{/users/{username}/orders(username=${user.username})}">Want to see past orders?</a>
        <br>

        <p>Here you can see and modify your profile:</p>
        <label for="firstName">First Name: </label>
        <textarea name="firstName" id="firstName" placeholder="First Name" th:text="${user.getAddress()?.firstName}"></textarea>
        <br></br>

        <label for="lastName">Last Name: </label>
        <textarea name="lastName" id="lastName" placeholder="Last Name" th:text="${user.getAddress()?.lastName}"></textarea>
        <br></br>

        <label for="phoneNumber">Phone Number: </label>
        <textarea name="phoneNumber" id="phoneNumber" placeholder="Phone Number" th:text="${user.getAddress()?.phoneNumber}"></textarea>
        <br></br>

        <label for="streetAddress">Street Address: </label>
        <textarea name="streetAddress" id="streetAddress" placeholder="Street Address" th:text="${user.getAddress()?.streetAddress}"></textarea>
        <br></br>

        <label for="postalCode">Postal Code: </label>
        <textarea name="postalCode" id="postalCode" placeholder="Postal Code" th:text="${user.getAddress()?.postalCode}"></textarea>
        <br></br>

        <label for="city">City: </label>
        <textarea name="city" id="city" placeholder="City" th:text="${user.getAddress()?.city}"></textarea>
        <br></br>

        <p th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert"></p>
        <p th:if="${successMessage != null}" th:text="${successMessage}" class="success"></p>
        <input type="submit" value="Save">
    </form>
</main>
</body>
<footer id="footer" th:insert="~{components/footer}"></footer>
</html>