
/*****************************
    HEADER
 *****************************/
header{
    width: 100%;
    position: sticky;
    top:0;
    z-index: 5;
    background-color: #58E8E6;
}

.header-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header navigation navigation navigation";
    height:10rem;
}

.header-container h1{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    margin-right: 1rem;
}

.header-container nav{
    grid-area: navigation;
    min-width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.menu{
    width: 100%;
}

.menu ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu li{
    padding: 0rem 2rem;
}

.menu li a:hover{
    color: white;
}

.menu li button:nth-child(1){
    margin-right: 1rem;
}

.search-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-bar-container form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-element{
    border:none;
    padding: 1rem;
    height: 3rem;
    border-radius: 3rem;
}

.search-bar-btn{
    cursor: pointer;
    background: none;
    border:none;
    height: 3rem;
    position: absolute;
    top:0.1rem;
    right:0.5rem;
    z-index: 3;
}

.menu-btn-svg{
    border:none;
    background: none;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    stroke: #094A4F;
}

.menu-btn-svg:hover{
    stroke: white;
}


/*****************************
    BURGER BUTTON
 *****************************/

.hamburger{
    position:relative;
    display: block;
    width:3.5rem;

    cursor: pointer;
    background:none;
    outline: none;
    border:none;
    z-index: 4;

}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content:"";
    display: block;
    width: 100%;
    height: 0.5rem;
    background-color: #094A4F;
    margin:0.5rem 0;
    transition: 0.4s;

}

.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-6px,5px);
}

.hamburger.is-active:after{
    transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger.is-active .bar{
    opacity: 0;
}


/*****************************
    MOBILE NAV
 *****************************/

.mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width:100%;
    min-height: 100vh;
    display: block;
    background-color: #58E8E6;
    z-index: 2;
    transition: 0.4s;
    height: 100%;
}

.mobile-nav.is-active{
    left: 0;
}

.mobile-menu{
    margin-top: 15rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
}


.mobile-menu ul{
    list-style-type: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar-container-mobile{
    min-width: 20rem;

}

.mobile-menu-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1.6rem 2rem;
    margin:1.6rem;
    background-color: #A5FBF8;
    min-height: 6rem;
    min-width: 20rem;
}

.search-bar-element-mobile{
    min-height: 6rem;
    width:20rem;
    border:none;
    padding: 1rem;
    margin-bottom: 1.6rem;
}

.search-bar-btn-mobile{
    cursor: pointer;
    background: none;
    border:none;
    height: 6rem;
    position: absolute;
    top:0.1rem;
    right:1rem;
    z-index: 3;
}

/*****************************
    DYNAMIC
 *****************************/

@media(max-width: 56.24em){
    .header-container nav{
        display: none;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        height:10rem;
        padding: 0 5rem;
    }

    .hamburger{
        grid-area: burger;
    }
}

@media(min-width: 56.25em){
    .hamburger{
        display: none;
    }
    .mobile-nav{
        display: none;
    }
}


