/*****************************
    Resetting default styles
 *****************************/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Outfit:wght@400;500;600;800&display=swap');
/*****************************
    Base Styles
    (colors, fonts and such)
 *****************************/
body{
    background-color:#58E8E6 ;
}

*{
    font-family: 'Outfit', sans-serif;
    color: #094A4F;
}

button{              /*Ha denne her?*/
    border:none;
    background: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

#main-container h2{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;

}



/*****************************
    Body Layout (Grid)
 *****************************/
body{
    display: grid;
    grid-template-rows: 2.5rem 10rem 1fr 30rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
            "top-color top-color top-color top-color"
            "header nav nav nav"
            "main main main main"
            "footer footer footer footer";
    min-height: 100vh;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}
#top-color{
    grid-area: top-color;
}

/*****************************
    Main Layout (Grid)
 *****************************/

#main-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "log-in new-account" ;
    height: 100%;
    padding:1rem;
    background-color: #EAFFFE;
}

.log-in-container{
    grid-area: log-in;
    border-right: 2px solid #094A4F;
    margin: 5rem 0 5rem 5rem;
    padding: 10rem;

}

.new-account-container{
    grid-area: new-account;
    border-left: 2px solid #094A4F;
    margin: 5rem 5rem 5rem 0;
}

/*****************************
    Login (Grid)
 *****************************/

.log-in-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*****************************
    New Account (Grid)
 *****************************/

.new-account-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

