#news-letter-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50rem;
}

.news-letter-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    margin-bottom: 5rem;
    min-height: 20rem;
}

#news-letter-section h2{
    font-size: 4.5rem;
    text-align: center;
    margin-top: 5rem;
}

#news-letter-section h3{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    color: rgba(9, 74, 79, 0.8);
}

.newsletter-input{
    height:4rem;
    width: 40rem;
}

#newsletter-lbl{
    font-size: 1.5rem;
}

@media(max-width:37.5em){
    #news-letter-section h2{
        font-size: 3rem;
    }

    #news-letter-section h3{
        font-size: 1.5rem;
    }

}