/*****************************
    Main layout
 *****************************/

#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;

}

#product-container{
    max-width:80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "product-img product-description";

}

#product-image{
    grid-area: product-img;
    text-align: center;
}

#product-image img{
    max-height: 90%;
    max-width: 90%;
    padding: 0 2rem;
}

 #product-information{
     grid-area: product-description;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }

 .product-description{
     font-size: 1.6rem;
     margin-bottom: 4rem;
     max-width: 40rem;
     margin-top: 1rem;
 }

 @media(max-width: 56.25em){
     #product-container{
         max-width:100%;
     }
     #product-information{
         padding-right: 2rem;
     }
 }

@media(max-width: 37.5em){
    #product-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "product-img" "product-description";

    }

    #product-information{
        padding-left: 2rem;
    }


    .product-button-container{
        display: flex;
        justify-content: center;
    }

    #product-information{

    }
}