/*****************************
    Resetting default styles
 *****************************/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Outfit:wght@400;500;600;800&display=swap');
/*****************************
    Base Styles
    (colors, fonts and such)
 *****************************/
body{
    background-color:#58E8E6;
}

*{
    font-family: 'Outfit', sans-serif;
    color: #094A4F;
}

button{              /*Ha denne her?*/
    border:none;
    background: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

/*****************************
    Body Layout (Grid)
 *****************************/
body{
    display: grid;
    grid-template-rows: 2.5rem 10rem 1fr 30rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
            "top-color top-color top-color top-color"
            "header nav nav nav"
            "main main main main"
            "footer footer footer footer";
    min-height: 100vh;
}

#top-color{
    grid-area: top-color;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}


/*****************************
    Main layout
 *****************************/

#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding:10rem;
    background-color: #EAFFFE;

}

#product-container{
    max-width:80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "product-img product-description";

}

#product-image{
    grid-area: product-img;
    text-align: center;
}

#product-image img{
    max-height: 100%;
    max-width: 100%;
    padding: 0 2rem;
}

 #product-information{
     grid-area: product-description;
     display: flex;
     flex-direction: column;
 }

 form{
     display: flex;
     flex-direction: column;
 }

 .product-description{
     font-size: 1.6rem;
     margin-bottom: 4rem;
     max-width: 40rem;

 }