/*****************************
    Main layout
 *****************************/

#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding:10rem;
}


#register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 55rem;
}


@media(max-width:  56.25em){
    #main-container {
        padding:10rem 0;
    }
    #register-container{
        width: 80%;
        min-width: 20rem;
    }

}
