
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}
.Name{
    horiz-align: left;
}
.Price{
    horiz-align: right;
}


body {
    margin: 2rem;
}

.card {
    position: relative;
    width: 25rem;
    height: 45rem;
    margin: 4rem 2rem 0 2rem;
    border: 1px dashed gray;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 0.5rem 0 lightgray;
}

.product-image-container {
    position: relative;
}

.product-details-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.product-details-container #Name {
    font-size: 2.4rem;
    font-weight: bold;
}

.product-details-container #Price {
    font-size: 2rem;
}

.product-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button-container {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.highlighted {
    box-shadow: 0 0 2rem 1rem rgba(200, 200, 200, 0.75);
}
html {
    font-family: "Poppins", sans-serif;
}

.card {
    /* We want the cards to be side-by side. We will use flexbox for it later,
        but we have not learned it yet. */
    float: left;
}

img {
    /* We set display:block for the images to avoid a space right
        after the image */
    display: block;
    height: 350px;
    width: 250px;

}

/* Navigation */
.navigation {
    display: flex;
    gap: 3rem;
    justify-content: center;
    background-color: #d6edf8;
    padding: 2rem 0;
}